:root {
  --accent-color: #dfd;
  --card-background-color: #23282f;
  --background-color: #292f36;
  --text-color: #ddd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**
 Body
 */

body {
    background: var(--background-color);
    color: var(--text-color);
    font-family: Helvetica, Arial;
    text-align: center;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
}

h2 {
    margin: 20px 0;
}

p {
    margin-bottom: 10px;
}

a {
    color: inherit;
}

.description {
    margin-bottom: 40px;
}

.wrapper {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    text-align: left;
}

/**
 Header
 */

header {
    background-color: var(--background-color);
}

header .wrapper {
    padding-top: 30px;
    padding-bottom: 0px;
}

header a {
    text-decoration: none;
}

header .site-name {
    font-size: 2.0em;
    color: var(--accent-color);
    font-weight: bold;
    display: inline-block;
    border-bottom: 3px solid var(--accent-color);
    margin-bottom: 10px;
}

@media (min-width: 768px) {
  header .wrapper {
    display: flex;
    text-align: center;
    align-items: center;
    padding-bottom: 30px;
  }

  header .site-name {
    margin-bottom: 0px;
  }
}

/**
 Nav
 */

nav {
    margin-left: auto;
}

nav li {
    display: inline-block;
    margin: 0 7px;
    line-height: 1.5em;
}

nav li a {
  display: inline-block;
  padding: 8px 24px;
  transition: 0.3s cubic-bezier(0.2, 0.8, 0.2, 1);
}

nav li a:hover {
  background: var(--card-background-color);
}

nav li a.selected {
    color: var(--accent-color);
    border-bottom: 2px solid var(--accent-color);
}

/**
 Item List
 */

.item-list > li {
    display: block;
    border: 1px solid var(--accent-color);
    transition: 0.3s cubic-bezier(0.2, 0.8, 0.2, 1);
    padding: 20px;
    border-radius: 20px;
    background-color: var(--card-background-color);
    margin-bottom: 20px;
}

.item-list > li:hover {
  transform: scale(1.01, 1.01) translateY(-5px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
  border: 0px solid transparent;
}

.item-headline {
  color: var(--accent-color);
}

.item-list > li:last-child {
    margin-bottom: 0;
}

.item-list h1 {
    margin-bottom: 15px;
    font-size: 1.3em;
    color: var(--accent-color);
}

.item-list h3 {
  margin-bottom: 20px;
  font-size: 1.3em;
}

.item-list > div {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.item-list a {
  display: inline-block;
  text-decoration: none;
}

.item-date {
  flex: 1;
  display: block;
  text-align: end;
  margin-top: 20px;
}

.item-list p {
    margin-bottom: 0;
}

.bottom-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

/**
 Tag List
 */

.tag-list {
    margin-bottom: 15px;
}

.tag-list ul {
  color: var(--accent-color);
}

.tag-list li {
  margin-right: 10px;
}

.tag-list li:first-child {
  padding-left: 10px;
}

.tag-list li,
.tag {
    display: inline-block;
    background-color: #000;
    color: #ddd;
    padding: 4px 6px;
    border-radius: 5px;
    margin-right: 5px;
}

.tag-list a,
.tag a {
    text-decoration: none;
    color: #dfd;
}

.tag-list a:hover {
  text-decoration: underline;
}

.all-tags li {
    font-size: 1.4em;
    margin-right: 10px;
    padding: 6px 10px;
}

/**
 Footer
 */

footer {
    color: #ddd
}

footer > div {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

/**
 Item Page
 */

.post-head {
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 20px;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.post-head-image {
  width: 100%;
  object-fit: contain;
  border-radius: 50%;
  border: 2px solid var(--text-color);
}

post-head p {
  margin-bottom: 0;
}

.post-image-gallery {
  display: flex;
}

.item-page .tag-list {
  display: inline-block;
}

.item-page time {
  display: block;
  opacity: 50%;
  margin-top: 8px;
}

.content {
  margin-bottom: 40px;
  margin: auto;
}

.content > p {
  line-height: 1.8rem;
  margin-bottom: 30px;
  font-size: 1.125rem;
}

strong {
    color: var(--accent-color);
}

/* @media */

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--background-color);
    }

    body,
    header .site-name {
        color: #ddd;
    }

    .item-list > li {
        background-color: var(--card-background-color);
        border-color: var(--accent-color);
    }

    header {
        background-color: var(--background-color);
    }
}

@media(max-width: 600px) {
    .wrapper {
        padding: 40px 20px;
    }
}

.social-section svg {
  fill: #FFFFFF;
  width: 100%;
  height: 100%;
  padding: 30px;
}

.social-section ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  margin-left: 40px;
  margin-right: 40px;
}

.social-section li {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border: 1px solid var(--accent-color);
  background-color: var(--card-background-color);
  transition: 0.3s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.social-section li:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
  border: 0px solid transparent;
}

.social-section a {
  padding: 40px;
}

.social-section img {
  width: 100%;
  object-fit: contain;
}
